@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  /* background-color: rgba(243,0,75,1); */
  background-image: radial-gradient( circle 972.6px at 10% 20%,  rgba(243,0,75,1) 0%, rgba(255,93,75,1) 90% );
  overflow-x: hidden;
}

.gradient{
  width: 100%;
  height: 100vh;
  background-image: radial-gradient( circle 972.6px at 10% 20%,  rgba(243,0,75,1) 0%, rgba(255,93,75,1) 90% );
  background-size: cover;
}
.title {
  display: flex;
  align-items: center;
  margin: 40px 0px 0 60px;
}

.title h2 {
  font-size: 34px;
  color: white;
}
.title h2 span{
    font-size: 50px;
    color: white;
}

.title img {
  width: 80px;
  margin-right: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50%;
}

.container {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}
img {
  width: 750px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
h3 {
  font-size: 34px;
}

.content ul a {
  text-decoration: none;
  color: rgba(243,0,75,1);
  font-size: 18px;
}

.content ul li:nth-child(1):after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.content ul li:nth-child(1):hover::after {
  width: 75%;
}

.content ul li:nth-child(2):after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.content ul li:nth-child(2):hover::after {
  width: 90%;
}

.content ul li:nth-child(3):after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.content ul li:nth-child(3):hover::after {
  width: 100%;
}

.content ul li:nth-child(4):after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.content ul li:nth-child(4):hover::after {
  width: 60%;
}

.content ul a:hover {
  color: black;
  transition: 0.2s ease-in-out;
}

.content ul li {
  list-style: none;
}

.content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 330px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list li {
  margin: 15px 0;
  font-weight: 500;
}

.principle{
    /* height:1100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 90vw;
    border: 1px solid white;
    margin-left: 60px;
    border-radius: 30px;
    margin-bottom: 100px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.prinimg img{
    margin-top: 3rem;
    width: 500px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.para{
    font-size: 17px;
    margin-top: 40px;
    width: 70vw;
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
    line-height: 30px;
}



.name{
    text-align: right;
    color: black;
    font-weight: 500;
    margin-top: 30px;
}
.name span{
    margin-left: 30px;
}

.mess{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 30px;
    color: rgba(243,0,75,1);
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid ;
}


.contain{
  top: 8%;
  position: absolute;
}

.quotes{
  color: rgba(243,0,75,1);
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

.vision span{
  color: rgba(243,0,75,1);
  font-weight: 500;
}

.vision{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(172, 171, 171);
  color: #3d3c3c;
}

.vision ul li span{
  color: black;
}

.it img{
  margin-top: 60px;
  width: 200px;
}

.mech img{
  margin-top: 60px;
  width: 400px;
}